.parallax_one {
    /* The image used */
    background-image: url("world.jpg");
    /* Set a specific height */
    min-height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social {
    display: inline-block;
    padding: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*
.btn-reddit {
    color: fff;
}

.btn-reddit:hover {
    color: fff;
}

.fa-reddit:before {
    color: fff;
}

.btn-reddit:after {
    color: fff;
}
*/

.contact {
    position: relative;
    top: 10px;
    right: 15px;
    font-family: 'Cutive Mono', monospace;
    color: white;
    display: inline-block;
    float: right;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #fff;
}

.contact a{
	text-decoration: none !important;
	color: white !important;
}

#center_text {
    position: relative;
    top: 200px;
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
}

#quote {
    position: relative;
    top: 200px;
    color: white;
    font-family: 'Cutive Mono', monospace;
}
.container-fluid{
	padding: 0 !important;
}

p {
    margin: 0;
    padding: 0;
}

#about {
    font-size: 32px;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    color: black;
    margin-top: 215px;
    border: 60px #494945 solid;
}

.first_line {
    color: black;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    text-align: center;
}

.sec_line {
    color: black;
    font-family: 'Athiti', sans-serif;
    font-size: 18px;
    text-align: center;
}

.parallax_two {
    /* The image used */
    background-image: url("world.jpg");
    /* Set a specific height */
    min-height: 350px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills {
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #494945;
    color: white;
    border: 60px #fff solid;
    font-size: 28px;
}

.skills_title {
    color: white;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 42px;
}

#view_here {
    border: 2px solid #fff;
    font-family: 'Athiti', sans-serif;
    padding: 5px;
    text-align: center;
    float: none;
}

#resume {
    display: none;
    /* wont appear until click (jquery)*/
}

.parallax_three {
    /* The image used */
    background-image: url("world.jpg");
    /* Set a specific height */
    min-height: 150px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects {
    font-size: 32px;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #494945;
    color: white;
    border: 60px #fff solid;
}

.projects_title {
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
    text-align: center;
}

.paren {
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#got {
    border: 2px solid #fff;
    font-family: 'Athiti', sans-serif;
    padding: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    float: none;
}

#nycda {
    border: 2px solid #fff;
    font-family: 'Athiti', sans-serif;
    padding: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    float: none;
}

.parallax_four {
    /* The image used */
    background-image: url("world.jpg");
    /* Set a specific height */
    min-height: 150px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    font-size: 32px;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    color: black;
    border: 60px #494945 solid;
}

.footer_name{
    font-family: 'Athiti', sans-serif;
    color: black;
    font-size: 15px;
}

.footer_nycda{
    font-family: 'Athiti', sans-serif;
    color: black;
    font-size: 20px;
}


#toggle {
    display: block;
    width: 50px;
    height: 40px;
    margin: 30px auto 10px;
    position: relative;
    top: 20px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after {
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: all 0.1s;
    backface-visibility: hidden;
    border-radius: 2px;
}


/* on activation */

#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}


/* menu appearance*/

#menu {
    position: relative;
    color: #999;
    width: 200px;
    top: 20px;
    padding: 10px;
    margin: auto;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

ul,
li,
li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    /*transition: all .2s;*/
}

li a:hover,
li a:focus {
    background: #666666;
    color: #fff;
}


/* media queries 

@media (max-width: 1000px) { 
	.parallax_two, .parallax_three, .parallax_four{
		display: none;
	}

@media (max-width: 1195px) { 
	#about{
		padding-bottom: 600px;
	}

@media (max-width: 1195px) { 
	.sec_line{
		font-size: 15px;
	}

@media (max-width: 1195px) { 
	#skills{
		padding-top: 300px;
	}
*/

@media (max-width: 950px) { 
	#resume{
		height: 300px;
		width: 400px;
	}
}


